@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* colors */
  --primary-color: hsl(180, 29%, 50%);
  --background-color: hsl(180, 52%, 96%);
  --filter-color: hsl(180, 31%, 95%);
  --gray-cyan: hsl(180, 8%, 52%);
  --dark-cyan: hsl(180, 14%, 20%);

  /* typography */
  --default-font-size: 15px;

  /* screen width */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

/* default style */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "League Spartan", sans-serif;
}

button:focus {
  outline: none;
}

/* App styles */

/* desktop view */
@media (max-width: 768px) {
}
